beautifulsoup4==4.8.2
beautifultable==0.8.0
bs4==0.0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
crypto==1.4.1
cryptography==2.8
docopt==0.6.2
idna==2.9
lxml==4.6.2
Naked==0.1.31
pipreqs==0.4.10
pycparser==2.20
pygame==1.9.6
PyYAML==5.3.1
requests==2.23.0
shellescape==3.8.1
six==1.12.0
soupsieve==2.0
urllib3==1.25.8
yarg==0.1.9
